@model Zags.Web.Models.SearchViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form method="get" class="mb-2">
    <div class="form-group">
        <label asp-for="Search.Keyword" class="control-label"></label>
        <input asp-for="Search.Keyword" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Search.OrderBy" class="control-label"></label>
        <select asp-for="Search.OrderBy" class="form-control">
            <option value="@PersonOrderBy.PIN">PIN</option>
            <option value="@PersonOrderBy.BirthDate">Birth Date</option>
            <option value="@PersonOrderBy.FirstName">First Name</option>
            <option value="@PersonOrderBy.LastName">Last Name</option>
        </select>
    </div>
    <button class="btn btn-primary">Search</button>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                PIN
            </th>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Patronymic
            </th>
            <th>
                Birth Date
            </th>
            <th>
                Gender
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.People) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PIN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patronymic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
